body {
    background-color: rgb(37, 38, 78);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding-top: 40px;
    color: rgb(217, 217, 138);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 60px;
    text-shadow: 2px 2px grey;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.startBtn,
.againBtn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(37, 38, 78);
    border-radius: 10%;
    border: 0;
    cursor: pointer;
    background-color: rgb(173, 170, 198);
}

.startBtn:hover,
.againBtn:hover {
    -webkit-filter: drop-shadow(4px 4px 4px rgb(217, 217, 138));
    filter:         drop-shadow(4px 4px 4px rgb(217, 217, 138));
}

.again {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 75px;
    padding-top: 40px;
}

.rock,
.paper,
.scissors {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 150px;
    height: auto;
}

img:hover {
    -webkit-filter: drop-shadow(4px 4px 4px rgb(217, 217, 138));
    filter:         drop-shadow(4px 4px 4px rgb(217, 217, 138));
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(170, 164, 207);
    text-shadow: 1px 1px grey;
}

.score {
    display: flex;
    justify-content: center;
    color: rgb(217, 217, 138);
    font-size: 30px;
    margin: 0;
    padding-top: 25px;
}

.result {
    color: rgb(217, 217, 138);
}